header {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
}

#box{
    width: 1000px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#box div{
    height: 100%;
    display: flex;
    align-items: center;
}

#box :last-child{
    gap: 10px;
}

.header-option{
    font-size: 24px;
    color: #969696;
    gap: 5px;
    cursor: pointer;
}

.header-option img{
    width: 30px;
}

.header-option:hover{
    color: #FA5C55;
    transition: ease-in-out 0.5s;
}

main{
    width: 1000px;
    margin: 0px auto 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.card{
    width: 200px;
    height: 200px;
    background-image: url(../../../assets/images/card_background.svg);
    display: flex;
    justify-content: center;
}

.card .container{
    width: 170px;
    height: 100%;
    position: relative;
}

.container img{
    width: 150px;
    height: 150px;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}

.container p{
    font-size: 24px;
    position: absolute;
    top: 75%;
    left: 50%;
    translate: -50% -50%;
}
