body{
    margin: 0px;
}

@font-face {
    font-family: 'Montserrat';
    src: url('assets/fonts/Montserrat-VariableFont_wght.ttf');
    font-weight: normal;
    font-size: normal;
}

*{
    font-family: 'Montserrat';
}

.overflowHidden{
    overflow: hidden;
}
